/*
:root{ VARIABLES }*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  background-color: bisque;
  min-width: 320px;
  min-height: 480px;
  height: 100vh;
  padding: 0.5rem;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* HEADER */
.header{
  width: 100%;
  height: 4.8rem;  
  display: flex;  
  justify-content: flex-end;
  align-items: stretch;  
}
.header__nav-item-container{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
.header__nav-item{      
  margin-left: 1rem;
}
.header__nav-item--link{
  line-height: 4.8rem;
  text-transform: uppercase;
  text-decoration: none;  
}
/* Header end */

/* MAIN */
.main{
  width: 100%;
  flex-grow: 1;
  background-color: yellowgreen;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Main end*/

/* FOOTER */
.footer{
  width: 100%;
  background-color: cadetblue;

  display: flex;
  flex-flow: column nowrap;
}
/* footer end */